defmodule <%= @task_module %> do
  @shortdoc "TODO Describe this task in one line"
  @moduledoc """
  TODO Describe what this task does

      $ mix <%= @task_name %>

  ## Command line options

  #{Executive.Task.option_docs()}

  """
  use Executive.Task<%= @task_opts %>

  option_type option()
  options_type options()
<%= @options %>
  @impl Executive.Task
  def run(argv, opts) do
    # TODO implement this task
  end
end
